* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/* navbar section  */
.navbar {
    background-color: darkkhaki;
    cursor: pointer;
}

.navbar .navbar-content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}

.navbar .navbar-content nav ul {
    display: flex;
}

.navbar .navbar-content nav ul li {
    margin: 0 20px;
}

.navbar .navbar-content .dropdown {
    cursor: pointer;
    position: relative;
}

.navbar .navbar-content .dropdown .auth-btn {
    padding: 10px 20px;
    border: 1px solid black;
    background-color: transparent;
    font-size: 16px;
}

.navbar .navbar-content .dropdown .dropdown-menu {
    text-align: center;
    position: absolute;
    background-color: lightgray;
    display: none;
    transition: all 0.3s ease-in-out;
}

.navbar .navbar-content .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .navbar-content .dropdown .dropdown-menu a {
    padding: 10px 20px;
}