* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.py {
    padding: 100px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.w-1 {
    width: 100%;
}

.w-2 {
    width: 50%;
}

.w-3 {
    width: 33.33%;
}

div {
    max-height: 100%;
}

/* photo gallery section  */

.photo-gallery .photo-gallery-title h2 {
    text-align: center;
    font-size: 40px;
}

.photo-gallery .images {
    margin: 5px;
}

/* md screen  */
@media (max-width : 991px) {
    .container {
        max-width: 720px;
    }

    .w-md-2 {
        width: 50%;
    }
}

/* sm screen  */
@media (max-width : 767px) {
    .container {
        max-width: 540px;
    }

    .w-sm-1 {
        width: 100%;
    }
}